/*use command shift r to clear browser cache*/
html { overflow-y: scroll; overflow-x:hidden; }  /*prevent horizontal scrolling*/

body {
  position: relative;
  margin: 0;
  padding: 0;

}

header {
  width: 100%;
}

h1, h2, h4, h5, h6 {
  color: #444444;
}

p {
  font-size: 16px;
}

ul {
  margin: 0;
}

img {
  border-radius: 10%;
}

a:link {
  text-decoration: none
}

button {
  background: none;
  border: none;
  outline: none;
} 


button:focus {
  outline: 0;

}

input::placeholder {
  color: var(--c, gray);
  font-weight: bold;
}

/*remove customize name icon on safari*/
input::-webkit-contacts-auto-fill-button { 
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

textarea {
  border: 0;
  outline: 0;
  background-color: #EEEDED;
  border-radius: 10px;
  padding: 5px;
}::placeholder {
  color: var(--c, gray);
}

#cards {
  height: 50px;
}

#bodyWrapper {
  display: flex;
  flex-direction: column;
  height: 4000px;
}

#jzArchivesLogo {
  position: absolute;
  width: 200px;
  height: 100px;
  cursor: pointer;
  left: 5%;
}

#titleVid {
  position: absolute; 
  left: -20px;
  width: 1450px; 
  height: auto; 
}

#titleContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 18%;
}

#titleWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 45%;
  top: 33%;
  width: 40%;
  min-width: 600px;
  height: 15%;

}

#title {
  position: relative;
  font-family: "Varela Round", Geneva;
  font-weight: bold;
  font-style: italic;
  top: 0%;
  left: 0%;
  white-space: nowrap;  
  font-size: 32px;
  color: navy;
}

#typewrite {
  position: relative;
  text-align: center;

}

.typewrite {
  font-weight: bold;
  font-family: "Varela Round", Geneva;
  color: navy;
  font-size: 42px;
}

#contactContainer {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 12%;
}

#contactDivWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 90%;
  /*min-width: 1300px;*/
  height: auto;
  left: 5%;
}

#contactTitleWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  right: 12%;
}

#contactTitle {
  position: relative;
  font-family: "Varela Round", Geneva, Impact, sans-serif;
  color: #534D4C;
  top: 10%;
  left: 5%;

}

#contactParagraph {
  position: relative;
  font-family: "Varela Round", Geneva, Impact, sans-serif;
  color: #9E9C9C;
  text-align: left;
  top: 15%;
  left: 5%;
  font-size: 18px;
}

#contactForm {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 40%;
  height: 85%;
  top: 5%;
  left: 2%;
  border-radius: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}


#writeMessage {
  position: relative;
  width: 500px;
  bottom: 10px;
}


.name_email {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 40px;
  border-radius: 5px;
  border: solid .5px lightgray;
}


.name_email input {
  border-style: none;
  border: 0;
  outline: 0;
  position: relative;
  padding-left: 2%;
  padding-top: 2px;
  font-size: 15px;
  width: 99%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}::placeholder {
  opacity: .8;
  font-size: 15px;
}


.x_icon {
  position: absolute;
  height: 14px;
  width: auto;
  right: 2%;
  padding-right: 1px;
  cursor: pointer;
  
}

#submit {
  position: absolute;
  width: 25%;
  min-width: 130px;
  height: 10%;
  top: 83%;
  right: 5%;
  border-radius: 25px;
  border: none;
  background-color: #C3DEE9;
  font-family: "Varela Round", Geneva, Impact, sans-serif;
  color: #534D4C;
  cursor: pointer;
  transition: .3s;
}

#submit:hover {
  color: white;
  background-color: #8DACCA;
  transition: .3s;
}


.form {
  font-family: "Varela Round", Geneva, Impact, sans-serif;
  font-size: 14px;
  color: black;
  resize: none;
  width: 350px;
}


#poleGameContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 15%;
  width: 100%;
  background-color: #F1FFFF;
}


#poleGameVideoWrapper {
  position: relative;
  display: flex;
  width: 280px;
  height: 100%;
  border-radius: 3%;

}


#poleGameIconWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  /*min-width: 350px;*/
  height: 100%;
  /*right: 3%;*/
  left: 2%;
}

#poleGameLogo {
  position: relative;
  top: 5%;
}

#appStoreLogo {
  position: relative;
  height: auto;
  bottom: 5%;
  
}

.appLogos {
  width: 45%;
  height: auto;
  max-width: 450px;
}

#poleGameStackDescriptionWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  left: 3%;
}

#poleGameDescription {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 80%;
  background-color: #6ACAFF;
  color: white;
  border-radius: 25px;
  width: 50%;
  height: 8%;
  transition: width .5s;
  font-size: 18px;

}

#poleGameDescription:hover {
  text-align: left;
  transition: width .5s;
  font-family: "Varela Round", Impact, sans-serif;
  background-color: #EFF8FB;
  color: black;
  width: 70%;
  height: 20%;
  padding: 10px;
}

#poleGameStack {
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  min-width: 350px;
  height: auto;
  bottom: -20%;
}


#tradingContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 15%;

}

#tradingVideoWrapper {
  position: relative;
  display: flex;
  justify-content: left;
  border-radius: 3%; 
  width: 40%;
  height: auto;
  max-width: 800px;
  left: -20%;
}

#tradingInfoWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  min-width: 400px;
  height: 100%;
  right: 10%;
}


#tradingDescription {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Varela Round", Impact, sans-serif;
  font-size: 18px;
  border-radius: 25px;
  background-color: #D8F5D1;
  color: #0B2161;
  transition: width .5s, height .5s;
  width: 50%;
  height: 8%;
  bottom: 4%;
  left: 10%;

}

#tradingDescription:hover {
  position: relative;
  text-align: left;
  font-family: "Varela Round", Impact, sans-serif;
  border-radius: 25px;
  color: #0B2161;
  background-color: #D8F5D1;
  height: auto;
  width: 90%;
  transition: width .5s, height .5s;
  padding: 10px;
}

#launchpadDiv {
  position: relative;
  top: 5%;
  left: 50%;
}


#tradingStack {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: auto;
  font-size: 14px;
  text-align: center;
  bottom: 10%;
  left: 10%;
}


#fitnessAppContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 15%;
  width: 100%;
  background-color: #FFFDE8;
}

#fitnessTitleVideoWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  min-width: 620px;
  height: 100%;
}

#fitnessAppTitle {
  position: relative;
  color: #0B2161;
  white-space: nowrap;  
  text-align: center;
  font-family: "Varela Round", Georgia, Impact, sans-serif;
  font-size: 28px;
  top: 5%;
}

#fitnessAppVideoWrapper {
  position: relative;
  border-radius: 3%;
  width: 70%;
  max-width: 720px;
  height: auto;
  bottom: 7%;
}

#fitnessAppDescriptionWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  min-width: 250px;
}

#fitnessAppDescription {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Varela Round", Impact, sans-serif;
  font-size: 18px;
  border-radius: 25px;
  background-color: #D6CD6A;
  color: white;
  width: 55%;
  height: 8%;
  transition: width .5s, height .5s;
  top: 8%;

}

#fitnessAppDescription:hover {
  position: relative;
  text-align: left;
  font-family: "Varela Round", Impact, sans-serif;
  border-radius: 25px;
  color: #0B2161;
  background-color: #EFF8FB;
  padding: 10px;
  background-color: #FFF79E;
  width: 80%;
  height: 47%;
  transition: width .5s, height .5s;
}

#fitnessAppStack {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: space-between;
  text-align: center;
  width: 5%;
  min-width: 120px;
  height: 70%;
  top: 20%;
  left: 10%;

}

#bgchContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 17%;
  width: 100%;
}

#bgchTitleVideoWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  /*min-width: 720px;*/
  height: 100%;
}

#bgchTitle {
  position: relative;
  color: #0B2161;
  white-space: nowrap;  
  top: 4%;
  left: 85%;
  font-family: "Varela Round", Geneva, Impact, sans-serif;
  font-size: 28px;
}

#bgchVideoWrapper {
  position: relative;
  border-radius: 3%;
  width: 100%;
  height: auto;
  max-width: 800px;
  top: 8%;
}

#bgchInfoWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 100%;
  left: 10%;
}

#bgchDiv {
  position: relative;
  top: 5%;
  left: 100%;
}


#bgchDescription {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Geneva, Impact, sans-serif;
  font-size: 18px;
  border-radius: 25px;
  background-color: #6ACAFF;
  color: white;
  width: 50%;
  height: 8%;
  transition: width .5s, height .5s;
  top: 200%;
  left: 26%;
  padding: 10px;

}

#bgchDescription:hover {
  text-align: left;
  color: #0B2161;
  background-color: #EFF8FB;
  width: 80%;
  height: 20%;
  transition: width .5s;
  padding: 10px;

}

#bgchStack {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 65%;
  min-width: 300px;
  height: 7%;
  left: 24%;
  bottom: -10%;

}


.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}


#footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #EFF8FB;
  font-size: 25px;
  line-height: 3.5;
  width: 100%;
  height: 12%;
}

#footerSeal {
  position: relative;
  width: 150px;
  top: -12%;

}

#footerBottom {
  position: relative;
  bottom: 0%;
  width: 100%;
  height: 20%;
  background-color: white;
}

#socialMediaLinks {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 3.1%;
  min-width: 60px;
  height: 3%;
  top: 21%;
}

#links {
  position: absolute;
  right: 5%;
}

.emblems {
  width: 200px;
  height: 200px;
}

.bg-steel {
  background-color: white;
  height: 140px;

}

.moving-header {
  background-color: #C3DEE9;
  height: 110px;
  transition: height .5s;
}

.links {
  color: gray;
  padding: 10px;
  cursor: pointer;
  font-size: 22px;

}

.links:hover {
  color: #C3DEE9;
}

/*a href causes padding with button to render slightly different, no need a bit more padding*/
#cards {
  padding: 12px;
}

.moving-links {
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 22px;
}


.moving-links:hover {
  background-color: #8DACCA;
  border-radius: 5%;
  color: white;
  border: .5px solid white;
}

.vid {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.rocket {
  position: absolute;
  height: auto;
  width: 4%;
  top: 50%;
  left: 90%;
  z-index: 1;
}

.select {
  border: .5px solid white;
  outline: none;
  background: #8DACCA;
  border-radius: 5%;
  color: white;
}


.unSelect {
  background: none;
  border: none;
}


.icon {
  width: 45px;
  height: auto;
}

.icon:hover {
  width: 55px;
  height: auto;
}

.bottomIcon {
  width: 25px;
  height: auto;
}

.bottomIcon:hover {
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}