/*use command shift r to clear browser cache*/
html, body { overflow-y: scroll; overflow-x:hidden; }  /*prevent horizontal scrolling*/

body {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  left: 0;
  right: 0;

}::-webkit-scrollbar:horizontal {
  display: none;
}

h1, h2, h4, h5, h6 {
  color: #444444;
}

p {
  font-size: 12px;
}

ul {
  margin: 0;
}

img {
  border-radius: 10%;
}

a:link {
  text-decoration: none
}

button {
  background: none;
  border: none;
  outline: none;
} 


button:focus {
  outline: 0;

}

input::placeholder {
  color: var(--c, gray);
  font-weight: bold;
}

/*remove customize name icon on safari*/
input::-webkit-contacts-auto-fill-button { 
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

textarea {
  border: none;
  outline: 0;
  background-color: #EEEDED;
  border-radius: 10px;
  padding: 5px;
}::placeholder {
  color: var(--c, gray);
}

#bodyWrapper {
  display: flex;
  flex-direction: column;
  height: 4000px;
  position: relative;
  overflow-x: hidden;
}

#jzArchivesLogo {
  position: absolute;
  width: 180px;
  height: 85px;
  cursor: pointer;
  left: 5%;
}

#titleVid {
  position: absolute; 
  left: -120px;
  width: 1200px; 
  height: auto; 
}

#titleContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 18%;
}

#titleWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 34%;
  top: 26%;
  width: 30%;
  min-width: 600px;
  height: 15%;
  background-color: white;
  border-radius: 3%;

}

#title {
  position: relative;
  font-family: "Varela Round", Geneva;
  font-weight: bold;
  font-style: italic;
  top: 8%;
  left: 2%;
  white-space: nowrap;  
  font-size: 15px;
  color: navy;
}

#typewrite {
  position: relative;
  text-align: left;
  left: 15%;
  bottom: 5%;

}

.typewrite {
  font-weight: bold;
  font-family: "Varela Round", Geneva;
  color: navy;
  font-size: 18px;
}

#contactContainer {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 12%;
}

#contactDivWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 90%;
  /*min-width: 1300px;*/
  height: auto;
  left: 5%;
}

#contactTitleWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40%;
  /*min-width: 500px;*/
  height: auto;
  right: 8%;
}

#contactTitle {
  position: relative;
  font-family: "Varela Round", Geneva, Impact, sans-serif;
  font-size: 20px;
  color: #534D4C;
  top: 10%;
  right: -10%;


}

#contactParagraph {
  position: relative;
  font-family: "Varela Round", Geneva, Impact, sans-serif;
  color: #9E9C9C;
  text-align: left;
  top: 15%;
  left: 15%;
  font-size: 12px;
}

#contactForm {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 55%;
  height: 85%;
  top: 5%;
  left: -5%;
  border-radius: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}


.name_email {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: solid .5px lightgray;
}


.name_email input {
  border-style: none;
  border: 0;
  outline: 0;
  position: relative;
  padding-left: 2%;
  padding-top: 2px;
  font-size: 14px;
  width:99%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}::placeholder {
  opacity: .8;
  font-size: 14px;
}


.x_icon {
  position: absolute;
  height: 12px;
  width: auto;
  right: 2%;
  padding-right: 1px;
  cursor: pointer;
  
}

#submit {
  position: absolute;
  width: 30%;
  height: 9%;
  top: 83%;
  right: 5%;
  border-radius: 25px;
  border: none;
  background-color: #C3DEE9;
  font-family: "Varela Round", Geneva, Impact, sans-serif;
  font-size: 14px;
  color: #534D4C;
  cursor: pointer;
  transition: .3s;
}

#submit:hover {
  color: white;
  background-color: #8DACCA;
  transition: .3s;
}


.form {
  font-family: "Varela Round", Geneva, Impact, sans-serif;
  color: black;
  resize: none;
  width: 210px;
}


#poleGameContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  width: 100%;
  background-color: #F1FFFF;
}


#poleGameVideoWrapper {
  position: relative;
  display: flex;
  width: 10%;
  min-width: 200px;
  min-height: 350px;
  border-radius: 3%;
  top: -8%;

}


#poleGameIconWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 20%;
  min-width: 175px;
  height: 50%;
  top: 4%;
  left: 10%;
}

#poleGameLogo {
  position: relative;
}

#appStoreLogo {
  position: relative;
  height: auto;
  bottom: 10%;
  
}

.appLogos {
  width: 50%;
  height: auto;
}

#poleGameStackDescriptionWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  left: 6%;
  bottom: 1%;
}

#poleGameDescription {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width .5s, height .5s;
  font-size: 12px;
  background-color: #6ACAFF;
  color: white;
  border-radius: 25px;
  width: 100px;
  height: 30px;
  top: 100%;
  left: 30%;

}

#poleGameDescription:hover {
  text-align: left;
  transition: width .5s, height .5s;
  font-family: "Varela Round", Impact, sans-serif;
  font-size: 10px;
  background-color: #EFF8FB;
  color: black;
  width: 85%;
  height: 17%;
  padding: 10px;
}

#poleGameStack {
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 400px;
  height: auto;
  bottom: -10%;
  left: 0%;
  z-index: 1;
}


#tradingContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 15%;

}

#tradingVideoWrapper {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 450px;
  width: 450px;
  min-height: 250px;
  height: 250px;
  border-radius: 3%; 
  left: -20%;
  top: 5%;
}

#tradingInfoWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


#tradingDescription {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Varela Round", Impact, sans-serif;
  font-size: 12px;
  border-radius: 25px;
  background-color: #D8F5D1;
  color: #0B2161;
  transition: width .5s, height .5s;
  width: 100px;
  height: 30px;
  bottom: 15%;
  left: -20%;

}

#tradingDescription:hover {
  text-align: left;
  font-size: 10px;
  border-radius: 25px;
  color: #0B2161;
  background-color: #D8F5D1;
  width: 50%;
  height: 40%;
  transition: height .5s;
  padding: 10px;
}

#launchpadDiv {
  position: absolute;
  top: 15%;
  left: 110%;
}


#fitnessAppContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 15%;
  width: 100%;
  background-color: #FFFDE8;
}

#fitnessTitleVideoWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%;
}

#fitnessAppTitle {
  position: relative;
  color: #0B2161;
  white-space: nowrap;  
  text-align: center;
  top: 5%;
  font-family: "Varela Round", Georgia, Impact, sans-serif;
  font-size: 18px;
}

#fitnessAppVideoWrapper {
  position: relative;
  border-radius: 3%;
  width: 450px;
  height: auto;
  bottom: -10%;
}

#fitnessAppDescriptionWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  
}

#fitnessAppDescription {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Varela Round", Impact, sans-serif;
  font-size: 12px;
  border-radius: 25px;
  background-color: #D6CD6A;
  color: white;
  width: 100px;
  height: 30px;
  transition: width .5s;
  top: 30%;
  left: 60%;


}

#fitnessAppDescription:hover {
  position: relative;
  text-align: left;
  font-size: 10px;
  border-radius: 25px;
  color: #0B2161;
  padding: 10px;
  background-color: #FFF79E;
  width: 100%;
  height: 36%;
  transition: width .5s, height .5s;
}

#fitnessAppStack {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 25%;
  min-width: 150px;
  height: 35%;
  top: 62%;
  left: 40%;

}

#bgchContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 17%;
  width: 100%;
}

#bgchTitleVideoWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%%;
}

#bgchTitle {
  position: relative;
  color: #0B2161;
  white-space: nowrap;  
  top: 4%;
  text-align: center;
  font-family: "Varela Round", Geneva, Impact, sans-serif;
}

#bgchVideoWrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
  min-width: 450px;
  width: 450px;
  min-height: 250px;
  height: 255px;
  border-radius: 3%; 
  left: -20%;
  top: 10%;
}

#bgchInfoWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


#bgchDiv {
  position: absolute;
  top: 15%;
  left: 110%;
}

#bgchDescription {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Varela Round", Impact, sans-serif;
  font-size: 12px;
  border-radius: 25px;
  background-color: #6ACAFF;
  color: #0B2161;
  transition: width .5s, height .5s;
  width: 100px;
  height: 30px;
  bottom: -30%;
  left: -20%;
  z-index: 1;

}


#bgchDescription:hover {
  font-size: 10px;
  text-align: left;
  color: #0B2161;
  background-color: #EFF8FB;
  width: 30%;
  height: 30%;
  transition: width .5s;
  padding: 10px;

}

#bgchStack {
  bottom: -70%;
}

.stack {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  min-width: 325px;
  height: auto;
  font-size: 14px;
  text-align: center;
  bottom: 5%;
  padding: 20px;
}


.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}


#footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #EFF8FB;
  font-size: 25px;
  line-height: 3.5;
  width: 100%;
  height: 12%;
}

#footerSeal {
  position: relative;
  top: -12%;

}

#footerBottom {
  position: relative;
  bottom: 0%;
  width: 100%;
  height: 20%;
  background-color: white;
}

#socialMediaLinks {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 2.5%;
  min-width: 40px;
  height: 3%;
  top: 21%;
}

#toggler {
  position: relative;
  left: 88%;
}

#navbarToggle {
  position: absolute;
  background-color: #C3DEE9;
  width: 100%;
  top: 100%;
  border: 1px solid gray;
  left: 0%;
}

.navbar-toggler {
  background-color: #2A3D68;
}

.emblems {
  width: 125px;
  height: 125px;
}

.bg-steel {
  background-color: white;
  height: 130px;

}

.moving-header {
  background-color: #C3DEE9;
  height: 95px;
  transition: height .5s;
}

#links {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.links {
  color: white;
  padding: 10px;
  cursor: pointer;

}

.links:hover {
  color: navy;

}

/*a href causes padding with button to render slightly different, no need a bit more padding*/
#cards {
  padding: 12px;
}

.moving-links {
  color: white;
  padding: 10px;
  cursor: pointer;
}

.moving-links:hover {
  background-color: #8DACCA;
  border-radius: 5%;
  color: white;
  border: .5px solid white;
}

.vid {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.rocket {
  position: absolute;
  height: auto;
  width: 8%;
  top: 90%;
  left: 90%;
  z-index: 1;
}

.select {
  border: .5px solid white;
  outline: none;
  background: #8DACCA;
  border-radius: 5%;
  color: white;
}


.unSelect {
  background: none;
  border: none;
}


.icon {
  width: 35px;
  height: auto;
}

.icon:hover {
  width: 45px;
  height: auto;
}

.bottomIcon {
  width: 15px;
  height: auto;
}

.bottomIcon:hover {
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}