{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	 <!-- Required meta tags -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Media queries-->
    <!-- mobile -->
	<link rel="stylesheet" type = "text/css" media="only screen and (max-width: 483px)" href="{% static 'css/mobile.css' %}">

	<!-- small tablet -->
	<link rel="stylesheet" type = "text/css" media="only screen and (min-width: 484px) and (max-width: 767px)" href="{% static 'css/small_tablet_.css' %}">

	<!-- large tablet -->
	<link rel="stylesheet" type = "text/css" media="only screen and (min-width: 768px) and (max-width: 1024px)" href="{% static 'css/large_tablet.css' %}">

	<!-- laptop/desktop tablet -->
	<link rel="stylesheet" type = "text/css" media="only screen and (min-width: 1025px) and (max-width: 1450px)" href="{% static 'css/main.css' %}">

	<!-- large desktop -->
	<link rel="stylesheet" type = "text/css" media="only screen and (min-width: 1450px)" href="{% static 'css/large_screen_.css' %}">

	
	<title>JZ Archives</title>
	<link rel="shortcut icon" type="image/gif" href="{% static 'shortcut_icon.png' %}"/>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet"> <!--for varela round font-->

</head>

<body>
	<header class="site-header">
	  <nav id="navid" class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
	    <div class="container">
	      <img id="jzArchivesLogo" src="/static/jzArchivesEmblem.png"/>
	      <button class="navbar-toggler" id="toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
	        <div class="navbar-nav mr-auto">
	        </div>
	        <!-- Navbar Right Side -->
	        <div id="links">
	          <button onclick="scrollTopAnimated('home')" id="start" class="links">Home</button>
	          <button onclick="scrollTopAnimated('contact')" id="contact" class="links">Contact</button>
	          <button onclick="scrollTopAnimated('games')" id="games" class="links">Games</button>
	          <button onclick="scrollTopAnimated('trading')" id="trading" class="links">Trading</button>
	          <button onclick="scrollTopAnimated('web')" id="web" class="links">Web Apps</button>
	          <button><a href="cards/" id="cards" class="links" target="_blank">Cards!</a></button>
	        </div>
	      </div>
	    </div>
	  </nav>
	</header>
	<div id="bodyWrapper">
		<video id="titleVid" muted autoplay playsinline loop src="{% static 'pole_game_coding.mov' %}"> <!-- removed audio from vid in quicktime to remove PictureinPicture icon in firefox -->
	    	Your browser does not support the HTML5 Video element.		<!-- video will not play unless muted attribute is included -->
		</video>														<!-- low power mode on iphone will disable autoplay capabilities -->
		<div id="titleContainer">
			<img id="rocket" class="rocket" src="{% static 'rocketAnimation.gif' %}"/>
			<div id="titleWrapper">
				<p id="title">Jake Zimmerman Software Development</p>
				<h3 id="typewrite">
					<div class="typewrite" data-period="1000" data-type='["Web Applications", "Mobile Applications", "Games", "Trading Systems"]'></div>	
 				</h3>
			</div>
		</div>
		<div id="contactContainer">
			<div id="contactDivWrapper">
				<div id="contactForm">
					<form method="POST">
						{% csrf_token %}
						<div id="nameInputWrapper" class="name_email">
							<input type="text" id="name_input" class="form" name="message_name" placeholder="Full name">
						</div>
						<br><br>
						<div id="emailInputWrapper" class="name_email">
							<input type="text" id="email_input" class="form" name="message_email" placeholder="Email">
						</div>
						<br><br>
						<textarea id="writeMessage" class="form" rows="4" name="message" placeholder="Write me"></textarea>
						<br><br>
						<input id="submit" type="submit" value="Send">
					</form>
				</div>	
				<div id="contactTitleWrapper">
				{% if message_name %}
					<h1 id="contactTitle">Thanks for your message!</h1>
				{% else %}
					<h1 id="contactTitle">Leave a note...</h1>
					<p id="contactParagraph"> Welcome to my personal development portfolio! Feel free to drop a comment or ask any questions.</p>
				{% endif %}
				</div>
			</div>
		</div>
 		<div id="poleGameContainer">
 			<div id="poleGameStackDescriptionWrapper">
				<div id="poleGameDescription" class="hide" onmouseover="this.innerHTML='A real world hockey mini game morphed into an iphone application. Available for download on the app store!';" onmouseout="this.innerHTML='What is it?';">
					What is it?
				</div> 
				<div id="poleGameStack" class="hide">
					<a href="http://docs.microsoft.com/en-us/dotnet/csharp/tour-of-csharp/" target="_blank">
						<img src="{% static 'csharp.svg' %}" class="icon"/>
						<p>C#</p>
					</a>
					<a href="https://unity.com/" target="_blank">
						<img src="{% static 'unityIcon.png' %}" class="icon"/>
						<p>Unity</p>
					</a>
					<a href="https://www.audacityteam.org/" target="_blank">
						<img src="{% static 'audacityIcon.png' %}" class="icon"/>
						<p>Audacity</p>
					</a>
					<a href="https://www.figma.com/" target="_blank">
						<img src="{% static 'figmaIcon.svg' %}" class="icon"/>
						<p>Figma</p>
					</a>
					<a href="https://developer.apple.com/xcode/" target="_blank">
						<img src="{% static 'xcodeIcon.png' %}" class="icon"/>
						<p>Xcode</p>
					</a>
	 			</div>
	 		</div>
	 		<div id="poleGameIconWrapper">
		 		<div id="poleGameLogo" class="hide">
					<img class="appLogos" src="{% static 'poleGameIcon.png' %}"/>
				</div>
				<div id="appStoreLogo" class="hide">
					<img class="appLogos" src="{% static 'appStoreIcon.png' %}"/>
				</div>
			</div>
			<div id="poleGameVideoWrapper" class="hide">
				<video class="vid" controls src="{% static 'poleGame.mov' %}" poster="{% static 'pole_game_poster.png' %}">
		    	Your browser does not support the HTML5 Vdeo element.
				</video> 
			</div>
		</div>
		<div id="tradingContainer">
			<div id="tradingVideoWrapper" class="hide vid">
				<video class="vid" controls src="{% static 'trading_example.mov' %}" poster="{% static 'trading_poster.png' %}">
		    	Your browser does not support the HTML5 Vdeo element.
				</video>
			</div>
			<div id="tradingInfoWrapper">
				<div id="launchpadDiv" class="hide"><img class="emblems" src="{% static 'launchpad.png' %}"/></div>
				<div id="tradingDescription" onmouseover="this.innerHTML='Stocks and options day trading system capable of screening opportunities, evaluating trade logic, sizing positions, managing risk, sending orders, and logging data.';" onmouseout="this.innerHTML='What is it?';">
					What is it?
				</div>
				<div id="tradingStack" class="stack">
					<a href="https://interactivebrokers.com/en/home.php" target="_blank">
						<img src="{% static 'ibkrLogo.png' %}" class="icon"/>
						<p>Interactive Brokers</p>
					</a>
					<a href="https://github.com/burnash/gspread" target="_blank">
						<img src="{% static 'sheetsLogo.png' %}" class="icon"/>
						<p>Gspread</p>
					</a>
					<a href="https://interactivebrokers.github.io/tws-api/initial_setup.html" target="_blank">
						<img src="{% static 'twsLogo.png' %}" class="icon"/>
						<p>TWS Python API</p>
					</a>
				</div>
			</div>
		</div>
		<div id="fitnessAppContainer">
			<div id="fitnessAppDescriptionWrapper">
				<div id="fitnessAppDescription" onmouseover="this.innerHTML='Personal application to generate and send a customized workout plan to a client automatically. It converts user input into an excel file with calculated weights and rep ranges, and then emails the client with the file attached.';" onmouseout="this.innerHTML='What is it?';">
					What is it?
				</div>
			</div>
			<div id="fitnessTitleVideoWrapper">
				<h4 id="fitnessAppTitle" class="hide">Workout Program Generator</h4>
				<div id="fitnessAppVideoWrapper" class="hide">
					<video class="vid" controls="controls" src="{% static 'fitnessApp.mov' %}" poster="{% static 'fitness_poster.png' %}">
			    	Your browser does not support the HTML5 Vdeo element.
					</video>
				</div>
			</div>
			<div id="fitnessAppStack">
				<a href="https://www.java.com/en/" target="_blank">
					<img src="{% static 'javaIcon.png' %}" class="icon"/>
					<p>Java</p>
				</a>
				<a href="https://poi.apache.org/" target="_blank">
					<img src="{% static 'apacheIcon.svg' %}" class="icon"/>
					<p>Apache</p>
				</a>
				<a href="https://javaee.github.io/javamail/" target="_blank">
					<img src="{% static 'javamailIcon.png' %}" class="icon"/>
					<p>Javamail</p>
				</a>
			</div>
		</div>
		<div id="bgchContainer">
			<div id="bgchTitleVideoWrapper">
				<h4 id="bgchTitle" class="hide">Tee Time Sniper</h4>
				<div id="bgchVideoWrapper" class="hide">
					<video class="vid" controls="controls" src="{% static 'bgch.mov' %}" poster="{% static 'bgch_poster.png' %}">
			    	Your browser does not support the HTML5 Video element.
					</video>
				</div>
			</div>
			<div id="bgchInfoWrapper">
				<div id="bgchDiv" class="hide"><img class="emblems" src="{% static 'tee times emblem.png' %}"/></div>
				<div id="bgchDescription" onmouseover="this.innerHTML='Tee times hacker that made it possible to secure a time slot ahead of the rest of the online crowd during the pandemic.';" onmouseout="this.innerHTML='What is it?';">
					What is it?
				</div> 
				<div id="bgchStack" class="stack">
					<a href="https://selenium-python.readthedocs.io/" target="_blank">
						<img src="{% static 'seleniumIcon.png' %}" class="icon"/>
						<p>Selenium</p>
					</a>
					<a href="https://www.python.org/" target="_blank">
						<img src="{% static 'pythonIcon.png' %}" class="icon"/>
						<p>Python</p>
					</a>
					<a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">
						<img src="{% static 'firefoxIcon.png' %}" class="icon"/>
						<p>Firefox</p>
					</a>
				</div>
			</div>
		</div> 
	    <div id="footer">
	    	<img src="{% static 'logo_transparent.png' %}" id="footerSeal" width="120" height="95"/>
	    	<div id="socialMediaLinks">
	    		<a href="https://www.linkedin.com/in/jake-zimmerman-612862b2/" target="_blank">
					<img src="{% static 'linkedinLogo.png' %}" class="bottomIcon"/>
				</a>
				<a href="https://github.com/zimmcoding22" target="_blank">
					<img src="{% static 'githubIcon.png' %}" class="bottomIcon"/>
				</a>
	    	</div>
	    	<div id="footerBottom"></div>
	    </div>
	</div> <!-- body wrapper -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'scroll_handler.js' %}" type="text/javascript"></script>
    <script src="{% static 'typewriter.js' %}" type="text/javascript"></script>
    <script src="{% static 'jsUtils.js' %}" type="text/javascript"></script>

    <script>

    	//handle x icon for user inputs
   		function inputHandler(event) {
   			const fields = ["name_input", "email_input"];
   			if (fields.includes(event.target.id)) {
   				var wrapper = document.getElementById(event.target.parentElement.id);
   				var elem = document.getElementById(event.target.id);
   				var name = event.target.name;
   			} else {
   				return;
   			}
   			if (event.key === "Backspace") {
   				var inputString = elem.value.substring(0, elem.value.length - 1);
   			} else {
   				if (!omit_keys.includes(event.key)) {
					var inputString = elem.value + event.key;
				} else {
					var inputString = elem.value
				}
   			}
   			//if input string isn't empty, create the appropriate x icon
   			let id = "x_icon_" + name;
   			let x_icon = document.getElementById(id);
			if (inputString !== "" && !x_icon) {
				x_icon = document.createElement("img");
				x_icon.setAttribute("id", id);
				x_icon.className = "x_icon";
				x_icon.src = "{% static 'x_icon.png' %}";
				wrapper.appendChild(x_icon);
			} 
			if (inputString === '' && x_icon) {				
				x_icon.remove();	
			}		
   		}

   		//add border on click
   		function addRemoveSearchBorder(event) {
   			if (event.target.id === "write_message" && highlighted !== undefined) {
   				document.getElementById(highlighted).style.border = "solid .5px lightgray";
   				return;
   			}
   			if (event.target.className === "x_icon") {
   				var id = event.composedPath()[1].id;
   			} else {
   				var id = event.target.parentElement.id;
   			}
   			//unhighlight
   			if (id !== highlighted && highlighted !== undefined) {
				document.getElementById(highlighted).style.border = "solid .5px lightgray";
			}
   			if (event.target.className === "form" || event.target.className === "x_icon") {
   				let elem = document.getElementById(id);
   				if (elem) {
   					elem.style.border = "solid gray 1px";
					elem.style.transition = "0.15s";
					highlighted = id;
   				} 
			}
   		}

   		//clear form fields
    	function clearForm(event) {
    		const x_icons = ["x_icon_message_name", "x_icon_message_email"];
    		if (x_icons.includes(event.target.id)) {
	    		let x_icon = document.getElementById(event.target.id);
				x_icon.remove();
				let form_id = document.getElementById(event.composedPath()[1].firstElementChild.id);
				form_id.value = "";
			}
    	}

    	//resize video elements for firefox/safari
    	function resizeVideos() {
    		let browser = detectBrowser();
    		let poleGameVideoWrapper = document.getElementById("poleGameVideoWrapper");
    		let tradingVideoWrapper = document.getElementById("tradingVideoWrapper");
    		let fitnessAppVideoWrapper = document.getElementById("fitnessAppVideoWrapper");
    		let bgchVideoWrapper = document.getElementById("bgchVideoWrapper");
    		if (browser !== "chrome") {
    			poleGameVideoWrapper.style.minWidth = "270px";
    			tradingVideoWrapper.style.backgroundColor = "black";
    			fitnessAppVideoWrapper.style.backgroundColor = "black";
    			bgchVideoWrapper.style.backgroundColor = "black";
    			if (width > screen_width_dividers["small_tablet"]) { 
    				poleGameVideoWrapper.style.width = "250px";
    				poleGameVideoWrapper.style.height = "580px";
    			}
    			if (width > screen_width_dividers["mobile"] && width <= screen_width_dividers["tablet"]) {
    				poleGameVideoWrapper.style.width = "200px";
    				poleGameVideoWrapper.style.minWidth = "200px";
    				poleGameVideoWrapper.style.height = "430px";
    			}
    			if (width <= screen_width_dividers["mobile"]) {
    				poleGameVideoWrapper.style.width = "160px";
    				poleGameVideoWrapper.style.minWidth = "160px";
    				poleGameVideoWrapper.style.height = "345px";
    			}	
    		}
    	}

    	//animated scroll inspired by @litecoin.org
    	function scrollTopAnimated(tab) {
    		position = scrollWin(tab).toString(); //return position based on tab clicked/screen width
            $("html, body").animate({ scrollTop: position }, 2000, "easeInOutExpo");
        }

    	//reload page
    	let logo = document.getElementById("jzArchivesLogo");
    	logo.addEventListener("click", () => {
  			location.reload();
		});	
        const omit_keys = ["Tab", "CapsLock", "Shift", "Control", "Backspace", "ArrowLeft", "ArrowDown", "ArrowRight", "ArrowUp", "Meta", "Enter", "Alt", "Escape"]; //for contact form fields
        var highlighted;
        var width = window.innerWidth;
        resizeVideos();
         //reload anmations and bring user to top of page if stylesheet changes on window resize to reorganize elements. 
        var stylesheet;
     	window.addEventListener("resize", (event) => {
     		width = window.innerWidth;
     		if (width > screen_width_dividers["mobile"] && width <= screen_width_dividers["small_tablet"]) {
     			currentStylesheet = "mobile";
     		} else if (width > screen_width_dividers["small_tablet"] && width <= screen_width_dividers["tablet"]) {
     			currentStylesheet = "tablet";
     		} else if (width > screen_width_dividers["tablet"] && width <= screen_width_dividers["main"]) {
     			currentStylesheet = "laptop";
     		} else {
     			currentStylesheet = "desktop";
     		}
     		if (stylesheet === undefined) {
     			stylesheet = currentStylesheet;
     		} else {
     			if (currentStylesheet !== stylesheet) {
     				stylesheet = currentStylesheet;
   	 				this.location.href = this.location.href; //location.reload() doesnt seem to work for screen size event in firefox
     				window.scrollTo(0, 0); //decided to scroll back to top of page on reload
     				
     			}
     		}
     	});
        document.body.addEventListener("keydown", inputHandler);
        document.body.addEventListener("click", clearForm);
        document.body.addEventListener("click", addRemoveSearchBorder);

        //detects elements that are off screen and potentially causing viewport sizing issues
        //$.each( $('*'), function() { 
		//     if( $(this).width() > $('body').width()) {
		//         console.log("Wide Element: ", $(this), "Width: ", $(this).width(), "ID: ", this.id); 
		//     } 
		// });


    </script>

</body>

</html>
