{% load static %}
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
	<!-- Media queries-->
    <!-- mobile -->
	<link rel="stylesheet" type = "text/css" media="only screen and (max-width: 483px)" href="{% static 'css/cards_mobile.css' %}">

	<!-- small tablet -->
	<link rel="stylesheet" type = "text/css" media="only screen and (min-width: 484px) and (max-width: 767px)" href="{% static 'css/cards_small_tablet.css' %}">

	<!-- large tablet -->
	<link rel="stylesheet" type = "text/css" media="only screen and (min-width: 768px) and (max-width: 980px)" href="{% static 'css/cards_large_tablet.css' %}">

	<!-- laptop/desktop tablet -->
	<link rel="stylesheet" type = "text/css" media="only screen and (min-width: 981px) and (max-width: 1440px)" href="{% static 'css/cards_main.css' %}">

	<!-- large desktop -->
	<link rel="stylesheet" type = "text/css" media="only screen and (min-width: 1441px)" href="{% static 'css/cards_large_screen.css' %} ">

	<title>cards</title>
</head>

<body>
	<header>
		<div id="logo_wrapper">
			<img id="logo" src="{% static 'ace_king.png' %}"/>
			<h1 id="logo_text">JZ cards</h1>
		</div>
		<div id="search">
			<div id="search_wrapper">
				<img id="search_icon" src="{% static 'search_icon.png' %}"/>
				<input type="text" id="form" name="search_content" placeholder="search deck name, brand, or creator">
			</div>
			<img id="x_icon" src="{% static 'x_icon.png' %}"/>
		</div>
		<div id="links_wrapper">
			<div id="links">
				<button id="collection" class="links">Collection</button>
				<button id="tricks" class="links">Tricks</button>
			</div>
		</div>
	</header>

	<div id="body_wrapper">
		
		<p id="page_description">
		  <span>Card</span>
		  <span>Collection</span>
		  <span>And</span>
		  <span>Sleight</span>
		  <span>Of</span>
		  <span>Hand</span>
		  <span>Reel</span>
		</p>
	
	</div>

<!-- add box shadow to search box and remove when clicking off of it. Display an x icon to clear form if it isn't empty. Create a dropdown containing suggestions -->
<script type = "text/javascript">

	//fade in animation
	function fadeIn(element, final_opc) {
    	var id = setInterval(frame, 3);
    	var opc = 0;
		function frame() {
			if (opc > final_opc) {
				clearInterval(id);
			} else {
				if (final_opc === 1) {
					opc+=.005;
				} else {
					opc+=.0005;
				}
				var newOpc = opc.toString();
				element.style.opacity = newOpc;
			}
	  	}
	}	

	function detectBrowser() {         
         let userAgent = navigator.userAgent;
         let browserName; 
         if(userAgent.match(/chrome|chromium|crios/i)){
             browserName = "chrome";
           } else if(userAgent.match(/firefox|fxios/i)){
             browserName = "firefox";
           } else if(userAgent.match(/safari/i)){
             browserName = "safari";
           } else if(userAgent.match(/opr\//i)){
             browserName = "opera";
           } else if(userAgent.match(/edg/i)){
             browserName = "edge";
           } else{
             browserName="No browser detection";
           }
          return(browserName);         
    }

    //returns data that determines positioning of certain elements as screen width fluctuates
    function responsiveDesign(width) {
    	if (width > 980) {
    		var data = {"setDimensionsSingleDeck" : ["300px", "400px"], "setDimensionsMultiple" : ["200px", "250px"], "filledCircle" : ["10%", "25%"], "openCircle" : ["8%", "20%"], "trickReelArrows" : "15%", "videoWrapper" : ["300px", "535px"], "toggleIconWrapper" : "635px", "createTitle" : "h1", "suggestionDiv" : "50px", "fullNameWrapper" : ["8px", "7%"], "numItems" : ["8px", "14%"], "iconImage" : "6%", "selectionImage" : ["2.5%", "30%"], "dropdownWidth" : "440px", "suggestionDivText" : "8px"}
    	} else if (width > 767 && width <= 980) {
    		var data = {"setDimensionsSingleDeck" : ["250px", "300px"], "setDimensionsMultiple" : ["150px", "200px"], "filledCircle" : ["10%", "25%"], "openCircle" : ["8%", "20%"], "trickReelArrows" : "13%", "videoWrapper" : ["300px", "535px"], "toggleIconWrapper" : "635px", "createTitle" : "h2", "suggestionDiv" : "50px", "fullNameWrapper" : ["8px", "7%"], "numItems" : ["8px", "14%"], "iconImage" : "6%", "selectionImage" : ["2.5%", "30%"], "dropdownWidth" : "440px", "suggestionDivText" : "8px"}
    	} else if (width > 483 && width <= 767) {
    		var data = {"setDimensionsSingleDeck" : ["200px", "250px"], "setDimensionsMultiple" : ["100px", "150px"], "filledCircle" : ["8%", "20%"], "openCircle" : ["6%", "15%"], "trickReelArrows" : "12%", "videoWrapper" : ["252px", "450px"], "toggleIconWrapper" : "600px", "createTitle" : "h2", "suggestionDiv" : "40px", "fullNameWrapper" : ["6px", "9%"], "numItems" : ["6px", "19%"], "iconImage" : "8%", "selectionImage" : ["3%", "28%"], "dropdownWidth" : "260px", "suggestionDivText" : "6px"}
    	} else { //mobile
    		var data = {"setDimensionsSingleDeck" : ["175px", "225px"], "setDimensionsMultiple" : ["100px", "150px"], "filledCircle" : ["7%", "17%"], "openCircle" : ["5%", "12%"], "trickReelArrows" : "9%", "videoWrapper" : ["220px", "390px"], "toggleIconWrapper" : "600px", "createTitle" : "h4", "suggestionDiv" : "60px", "fullNameWrapper" : ["6px", "9%"], "numItems" : ["6px", "19%"], "iconImage" : "8%", "selectionImage" : ["3%", "28%"], "dropdownWidth" : "260px", "suggestionDivText" : "6px"}
    	} 
    	return(data);
    }

    //determine size of result divs
    function setDimensions(is_deck_selection) {
    	let w, h;
    	if (is_deck_selection) {
    		w = responsiveDesign(width)["setDimensionsSingleDeck"][0];
    		h = responsiveDesign(width)["setDimensionsSingleDeck"][1];
	    } else {
	    	w = responsiveDesign(width)["setDimensionsMultiple"][0];
    		h = responsiveDesign(width)["setDimensionsMultiple"][1];
	    }
    	return([w, h])
    }

    //used to create results display pause effect
	async function sleep(seconds) {
		return(new Promise((resolve) => setTimeout(resolve, seconds * 1000)));
	}

	//show all deck creators
	async function displayProducerCollection(event) {
		//remove display elements and show producer title
		var producer_title = document.getElementById("producer_title");
		if (!producer_title) {
			try {
				var currentResults = document.getElementById("body_wrapper").childNodes;
				destroyElements(currentResults);
			} catch {
				document.getElementById("page_description").remove();
			}
			if (!document.getElementById("results_wrapper")) { //if user clicks collection tab before anything else
				createResultsWrapper();
			}
			createTitle("producer_title", "Producers");
			creatingElements = true;
			let dimensions = setDimensions(false);
			{% for p in producer_list %}
				await sleep(.1);
				createResult("producer", dimensions[0], dimensions[1], "{{ p }}", "{{ p.image.url }}");
			{% endfor %}
			creatingElements = false;
		}
	}

	//append results to DOM
  	async function createResult(id, width, height, name, image) {
		var result = document.createElement("div");
		result.setAttribute("id", id + ' ' + name);
		result.setAttribute("className", "result");
		document.getElementById("results_wrapper").appendChild(result);
		result.style.position = "relative";
		result.style.display = "flex";
		result.style.alignItems = "center";
		result.style.width = width;
		result.style.height = height;
		result.style.margin = "5%";
		result.style.borderRadius = "5%";
		result.style.cursor = "pointer";
		console.log("result id:", result.id);
		if (image !== undefined) {
			createResultImage(result.id, image);
			result.addEventListener("click", whichResult);
		} else { //this is for when a specific deck is selected. Result div will be created differently
			result.style.backgroundColor = "#FFEBE6";
			result.style.cursor = "default";
			result.style.boxShadow = "0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)";
			//get image
			{% for deck in deck_list %}
				if ("{{ deck }}" === name) {
					var i = "{{ deck.image.url }}";
					var c = "{{ deck.cost }}";
					var f = "{{ deck.finish }}";
					console.log("deck: ", "{{ deck }}", "name:", name, "cost:", c);
				}
			{% endfor %}
			result.style.flexDirection = "column";
			let img = document.createElement("img");
			img.src = i;
			img.style.position = "relative";
			img.style.borderRadius = "5%";
			img.style.width = "65%";
			img.style.height = "70%";
			if (width === "300px") {
				img.style.marginTop = "-3%";
			} else if (width === "250px") {
				img.style.marginTop = "-5%";
			} else if (width === "200px") {
				img.style.marginTop = "-2%";
			} else {
				img.style.marginTop = "-3%";
			}
			img.style.opacity = "0";
			let deckName = document.createElement("h6");
			let text = document.createTextNode(name)//this will be queried from the database
			deckName.appendChild(text);
			if (width === "200px") {
				deckName.style.fontSize = "8px";
			}
			if (width === "175px") {
				deckName.style.fontSize = "7px";
				deckName.style.fontWeight = "bold";
			}
			deckName.style.marginTop = "4%";
			deckName.style.fontFamily = "'copperplate', Geneva, Impact, sans-serif";
			deckName.style.opacity = "0";
			let cost = document.createElement("h6");
			text = document.createTextNode("Price $" + c);
			cost.appendChild(text);
			cost.style.fontFamily = "'copperplate', Geneva, Impact, sans-serif";
			cost.style.opacity = "0";
			if (width === "250px") {
				cost.style.marginTop = "5%";
			} else if (width === "200px") {
				cost.style.marginTop = "5%";
				cost.style.fontSize = "8px";
			} else {
				cost.style.fontSize = "7px";
				cost.style.marginTop = "5%";
			}
			let finish = document.createElement("h6");
			text = document.createTextNode("Finish: " + f);
			finish.appendChild(text);
			finish.style.fontFamily = "'copperplate', Geneva, Impact, sans-serif";
			if (width === "300px") {
				finish.style.marginTop = "-5%";
			} else if (width === "250px") {
				finish.style.marginTop = "-8%";
			} else if (width === "200px") {
				finish.style.marginTop = "-5%";
				finish.style.fontSize = "8px";
			} else {
				finish.style.marginTop = "-5%";
				finish.style.fontSize = "7px";
			}
			finish.style.opacity = "0";
			result.appendChild(deckName);
			let sleepTime = .15;
			fadeIn(deckName, 1);
			await sleep(sleepTime);
			result.appendChild(img);
			fadeIn(img, 1);
			await sleep(sleepTime);
			result.appendChild(cost);
			fadeIn(cost, 1);
			await sleep(sleepTime);
			result.appendChild(finish);
			fadeIn(finish, 1);
		}
		window.scrollTo(0, 0); //bring user back to top of page whenever new results are toggled
  	}

  	//organizes how results are displayed in results wrapper div
  	async function displayResults(id, name) {
  		//delete all children of results wrapper before displaying results again
  		let currentResults = document.getElementById("body_wrapper").childNodes;
  		destroyElements(currentResults);
  		let d = document.getElementById("dropdown_wrapper");
  		if (d) {
  			d.remove();
  		}
  		createResultsWrapper();
  		if (id[0] === 'd') { //if a specific deck is selected, only one div is created
  			console.log("id:", id, "name:", name);
  			let dimensions = setDimensions(true);
  			createResult(id, dimensions[0], dimensions[1], name);
  		} else { //display all decks by a given producer
  			createTitle("decks_by_producer_title", "Decks By " + name);
  			let decks_by_producer = {};
  			{% for deck in deck_list %}
  				producer = "{{ deck.producer }}";
  				if (name === producer) {
  					decks_by_producer["{{ deck }}"] = "{{ deck.image.url }}";
  				}
  			{% endfor %}
  			creatingElements = true;
  			let dimensions = setDimensions(false);
  			for (var [key, value] of Object.entries(decks_by_producer)) {
  				await sleep(.1);
  				createResult("deck", dimensions[0], dimensions[1], key, value);
  			}
  			creatingElements = false;
  		}
  	}

	function carousel(which_arrow) {
		var changeCircle = (index, which_circle) => {
			let c = document.getElementById("circle_" + index.toString());
			if (which_circle) { //closed circle
				c.src = "{% static 'filledCircle.png' %}";
				c.style.width = responsiveDesign(width)["filledCircle"][0];
				c.style.height = responsiveDesign(width)["filledCircle"][1];
			} else {
				c.src = "{% static 'circle.png' %}";
				c.style.width = responsiveDesign(width)["openCircle"][0];
				c.style.height = responsiveDesign(width)["openCircle"][1];
			}
			c.style.transition = ".25s";
		}
		if (which_arrow) { //left
			if (carouselIndex === 0) {
				return;
			} else {
				changeCircle(carouselIndex, false);
				carouselIndex--;
				changeCircle(carouselIndex, true);
				document.getElementById("display_video").src = videos[carouselIndex];
				//document.getElementById("display_video").poster = "{% static 'form.png' %}"
			}
		} else {
			if (carouselIndex === (videos.length-1)) {
				return;
			} else {
				changeCircle(carouselIndex, false);
				carouselIndex++;
				changeCircle(carouselIndex, true);
				document.getElementById("display_video").src = videos[carouselIndex];
			}
		}
	}

	function arrowClick(event) {
		if (event.target.id === "left_arrow") {
			carousel(true); //left
		} else {
			carousel(false);
		}
	}

	//showcase carousel of tricks
	function displayTrickReel(event) {
		width = window.innerWidth;
		carouselIndex = 0;
		var currentResults = document.getElementById("body_wrapper").childNodes;
		destroyElements(currentResults);
		var trickElementsWrapper = document.createElement("div");
		trickElementsWrapper.setAttribute("id", "trick_elements_wrapper");
		trickElementsWrapper.style.position = "relative";
		trickElementsWrapper.style.width = "40%";
		trickElementsWrapper.style.height = "55%";
		trickElementsWrapper.style.top = "3%";
		trickElementsWrapper.style.display = "flex";
		trickElementsWrapper.style.flexDirection = "row";
		trickElementsWrapper.style.alignItems = "center";
		trickElementsWrapper.style.justifyContent = "space-between";
		trickElementsWrapper.style.minWidth = "600px";
		var body = document.getElementById("body_wrapper");
		createArrow = (rotation) => {
			var arrow = document.createElement("img");
			arrow.src = "{% static 'arrow.png' %}";
			arrow.style.position = "relative";
			arrow.style.width = responsiveDesign(width)["trickReelArrows"];
			arrow.style.height = responsiveDesign(width)["trickReelArrows"];
			if (width <= 483) {
				arrow.style.top = "-12%";
			}
			arrow.style.opacity = ".2";
			arrow.style.filter  = "invert(100%)";
			arrow.style.transform = "rotate(" + rotation + "deg)";
			arrow.style.cursor = "pointer";
			arrow.draggable = false;
			if (rotation === "90") {
				arrow.setAttribute("id", "left_arrow");
			} else {
				arrow.setAttribute("id", "right_arrow");
			}
			arrow.onmouseover = () => {
				arrow.style.opacity = ".6";
				arrow.style.transition = ".5s";
			}
			arrow.onmouseout = () => {
				arrow.style.opacity = ".2";
				arrow.style.transition = ".5s";
			}
			trickElementsWrapper.appendChild(arrow);
			fadeIn(arrow, .2);
			arrow.addEventListener("click", arrowClick);
		}
		
		var videoWrapper = document.createElement("div");
		videoWrapper.setAttribute("id", "video_wrapper");
		videoWrapper.style.position = "relative";
		videoWrapper.style.width = "20%";
		videoWrapper.style.height = "51%";
		videoWrapper.style.minWidth = responsiveDesign(width)["videoWrapper"][0];
		videoWrapper.style.minHeight = responsiveDesign(width)["videoWrapper"][1];
		if (width <= 483) {
			videoWrapper.style.top = "-12%";
		}
		videoWrapper.style.borderRadius = "3%";
		videoWrapper.style.overflow = "hidden";
		videoWrapper.style.backgroundColor = "lightgray";
		var displayVideo = document.createElement("video");
		displayVideo.setAttribute("id", "display_video");
		displayVideo.src = "{% static 'magicOne.mov' %}";
		displayVideo.controls = true;
		displayVideo.style.position = "relative";
		displayVideo.style.width = "100%";
		displayVideo.style.height = "100%";
		displayVideo.style.borderRadius = "inherit";
		videoWrapper.appendChild(displayVideo);
		fadeIn(displayVideo, 1);
		body.appendChild(trickElementsWrapper);
		createArrow("90");
		trickElementsWrapper.appendChild(videoWrapper);
		createArrow("270");
		if (width > 483 && width <= 767) {
			document.getElementById("left_arrow").style.left = "10%";
			document.getElementById("right_arrow").style.right = "10%";
		}
		if (width <= 483) {
			document.getElementById("left_arrow").style.left = "22%";
			document.getElementById("right_arrow").style.right = "22%";
			videoWrapper.style.bottom = "0%";
		}
		var toggleIconWrapper = document.createElement("div");
		toggleIconWrapper.setAttribute("id", "toggle_wrapper");
		toggleIconWrapper.style.position = "absolute";
		toggleIconWrapper.style.width = "12%";
		toggleIconWrapper.style.height = "7%";
		toggleIconWrapper.style.minWidth = "180px";
		toggleIconWrapper.style.minHeight = "55px";
		toggleIconWrapper.style.top = responsiveDesign(width)["toggleIconWrapper"];
		toggleIconWrapper.style.display = "flex";
		toggleIconWrapper.style.flexDirection = "row";
		toggleIconWrapper.style.justifyContent = "space-between";
		toggleIconWrapper.style.alignItems = "center";
		//add toggle circles
		for (var i=0; i<videos.length; i++) {
			var c = document.createElement("img");
			c.setAttribute("id", "circle_" + i.toString());
			c.style.position = "relative";
			if (i === 0) {
				c.src = "{% static 'filledCircle.png' %}";
				c.style.width = responsiveDesign(width)["filledCircle"][0];
				c.style.height = responsiveDesign(width)["filledCircle"][1];
			} else {
				c.src = "{% static 'circle.png' %}";
				c.style.width = responsiveDesign(width)["openCircle"][0];
				c.style.height = responsiveDesign(width)["openCircle"][1];
			}
			toggleIconWrapper.appendChild(c);
		}
		body.appendChild(toggleIconWrapper);
	}

	//add/remove box shadow from search bar when it is clicked on/when user clicks away
	function addRemoveSearchBorder(event) {
  		let x_icon_opacity = window.getComputedStyle(x_icon).getPropertyValue('opacity');
  		if (event.target.id === "form" || event.target.id === "search_icon" || (event.target.id === "x_icon" && x_icon_opacity === '0')) {
  			searchElement.style.border = "solid gray 1px";
  			searchElement.style.transition = "0.15s";

  		} else {
  			//click is outside of search box
  			searchElement.style.boxShadow = "none";
  			searchElement.style.borderStyle = "solid";
  			searchElement.style.borderColor = "lightgray";
  			searchElement.style.borderWidth = ".5px";
  		}
  	}

  	function highlightSuggestion(event) {
	 	var x = document.elementFromPoint(event.clientX, event.clientY);
	 	var dropdown = document.getElementById("dropdown_wrapper");
	 	//figure out which suggestion div we are in
	 	var suggestion = "";
	 	try { //throws exception if x.id doesnt exist. If mouseover an element with suggestion box class name, we assign suggestion to whichever element without a null id (either x or its parent)
		 	if ((x.id !== "" && document.getElementById(x.id).className === "suggestion_box") || (x.parentElement.id !== "" && document.getElementById(x.parentElement.id).className === "suggestion_box") || (x.parentElement.parentElement.id !== "" && document.getElementById(x.parentElement.parentElement.id).className === "suggestion_box")) {
		 		if (document.getElementById(x.id)) {
		 			suggestion = document.getElementById(x.id);
		 		} else if (document.getElementById(x.parentElement.id)) {
		 			suggestion = document.getElementById(x.parentElement.id);
		 		} else {
		 			suggestion = document.getElementById(x.parentElement.parentElement.id);
		 		}
		 	}
		} catch (TypeError) {}
		//unhighlight if mouse moves away
		try {
			for (var [key, value] of Object.entries(id_dict)) { //if suggestion is empty, we no longer have the mouse on one of the suggestion boxes
				if (id_dict[key] == true) { //element with this id is currently highlighted and needs to be reset
					id_dict[key] = false;
					document.getElementById(key).style.boxShadow = null;
				}
			}
		} catch (TypeError) {}
		if (dropdown && suggestion !== "") {  //id dict is used to keep track of which suggestion divs are currently highlighted
			id_dict[suggestion.id] = true;
			suggestion.style.boxShadow = "0px 8px 8px -10px #888, 0px -8px 8px -10px #888";
	 		suggestion.style.transition = "box-shadow 0.2s ease-in-out";
		}
	}

  	//clears search field
  	function clearForm(event) {
  		document.getElementById("form").value = "";
  		xIcon.style.opacity = '0';
  		xIcon.style.cursor = "text";
  		var dropdown = document.getElementById("dropdown_wrapper");
  		if (dropdown) {
  			dropdown.remove();
  		}
  	}

  	//determine how many divs to create based on results
  	function createDivs(dropdown, list, which_tab) {
  		var suggestionDivsThatContainIcons = [];
  		for (let i = 1; i <= list.length; i++) {
			var suggestionId = which_tab + "_suggestion_" + i.toString();
			createSuggestionDiv(dropdown, suggestionId);
			{% for deck in deck_list %}
				var d = "{{ deck }}", p = "{{ deck.producer }}";
				if ((list[i-1].toLowerCase() === d.toLowerCase() || list[i-1].toLowerCase() === p.toLowerCase()) && !suggestionDivsThatContainIcons.includes(suggestionId)) {
					suggestionDivsThatContainIcons.push(suggestionId); //only create one icon per suggestion
					if (which_tab === "deck") {
						var image = "{{ deck.image.url }}";
					} else {
						var image = "{{ producer.p.image }}"
						{% for producer in producer_list %}
							if ("{{ producer }}" === p) {
								var image = "{{ producer.image.url }}";
							}
						{% endfor %}
					}
					createIconImage(suggestionId, image);
				}
			{% endfor %}			
			createFullNameWrapper(suggestionId, list[i-1]);
			createSelectionImage(suggestionId);
			if (i === 3) { //cap at 3 suggestions per tab
				break;
			}
		}
  	}

  	//return # of decks offered by a given producer
  	function getNumItems(current_producers_returned) {
  		//populate producers dict
  		let producers_dict = {};
  		{% for deck in deck_list %}
  			p = "{{ deck.producer }}";
  			if (!(p in producers_dict))	 {
  				producers_dict[p] = 1;
  			} else {
  				producers_dict[p]++;
  			}
  		{% endfor %}
  		return(producers_dict);
  	}

  	//wrapper div for all results displayed on screen 
  	function createResultsWrapper() {
  		var results_wrapper = document.createElement("div"); //this will contain visual display of results selected from dropdown
  		results_wrapper.setAttribute("id", "results_wrapper");
  		results_wrapper.style.position = "relative";
  		results_wrapper.style.width = "1000px";
  		results_wrapper.style.height = "200px";
  		results_wrapper.style.top = "3%";
  		results_wrapper.style.display = "flex";
  		results_wrapper.style.flexDirection = "row";
  		results_wrapper.style.justifyContent = "center";
  		results_wrapper.style.alignItems = "top";
  		results_wrapper.style.flexWrap = "wrap"
  		results_wrapper.style.padding = "20px";
  		document.getElementById("body_wrapper").appendChild(results_wrapper);
  	}

  	function createTitle(id, text) {
  		var producerTitle = document.createElement(responsiveDesign(width)["createTitle"]);
		producerTitle.setAttribute("id", id);
		producerTitle.style.position = "absolute";
		producerTitle.style.textAlign = "center";
		producerTitle.style.color = "gray";
		producerTitle.style.opacity = "0";
		producerTitle.style.fontFamily = "'Varela Round', Georgia, Impact, sans-serif";
		//console.log("text in createTitle:", text);
		let t = document.createTextNode(text);
		producerTitle.appendChild(t);
		body_wrapper = document.getElementById("body_wrapper");
		body_wrapper.appendChild(producerTitle);
		fadeIn(producerTitle, 1);
  	}

  	//construct dropdown according to results
  	function dropdownLayout(parent, current_decks_returned, current_producers_returned) {
  		var d = createDropdown(parent, current_decks_returned, current_producers_returned);
  		if (current_decks_returned.length === 0 && current_producers_returned.length === 0) { //display no items found
  			console.log("no items found");
  			return;
  		}
  		var dropdown = d[0];
  		var deckNameWrapper = d[1];
  		var producerNameWrapper = d[2];
  		var deckName = d[3];
  		var producerName = d[4];
  		var page_description_animation = document.getElementById("page_description");
  		var producer_title = document.getElementById("producer_title");
  		if (page_description_animation || producer_title) {
  			if (page_description_animation) {
	  			page_description_animation.remove(); //remove first time dropdown is displayed and replace with wrapper div for results
	  		}
	  		if (producer_title) {
	  			producer_title.remove();
	  		}
	  		if (!document.getElementById("results_wrapper")) {
	  			createResultsWrapper();
	  		}
	  	}
  		dropdown.appendChild(deckNameWrapper); //only used once
		deckNameWrapper.appendChild(deckName);
		createDivs(dropdown, current_decks_returned, "deck");
		dropdown.appendChild(producerNameWrapper); //only used once
		producerNameWrapper.appendChild(producerName);
		createDivs(dropdown, current_producers_returned, "producer");
		dropdown.appendChild(searchAllWrapper);
		document.getElementById("search_all_wrapper").className = "suggestion_box";
		id_dict["search_all_wrapper"] = false;
		searchAllWrapper.appendChild(searchAll);
		searchAllWrapper.addEventListener("click", clickDivSuggestion);
  	}

  	function destroyElements(results) {
  	  	//refer to https://stackoverflow.com/questions/28316289/javascript-remove-not-removing-all-elements
		for (var i = results.length - 1; i >=0; i--) { 
  			results[i].parentNode.removeChild(results[i]);
  		}
  	}

  	//handles when any deck in list of decks by producer is clicked on
  	function whichResult(event) {
  		if (!creatingElements) {
  			// console.log("ID:", event.target.id);
  			// console.log("PARENT ID", event.target.parentElement.id);
  			var path = event.composedPath();
	  		//get name and id for create result
	  		if (event.target.id === '') { //user has clicked on the h5
	  			var n = event.composedPath()[0].innerText;
	  			var i = event.composedPath()[1].id;
	  		} else {
	  			var n = event.target.id.slice(20);  //always starts with a number (# of producers found). Find # of digits between here and first space
	  			let digitCount = 0;
	  			for (const c of n) {
	  				if (isNaN(parseInt(c))) {
	  					break;
	  				}
	  				digitCount++;
	  			}
	  			n = event.target.id.slice(20 + digitCount);
	  			var i = event.composedPath()[0].id;
	  		}
	  		var currentResults = document.getElementById("body_wrapper").childNodes;
	  		destroyElements(currentResults);
	  		createResultsWrapper();
	  		if (event.target.parentElement.id.slice(0, 9) === "producer ") { //display all decks by producer
	  			var n = event.target.parentElement.id.slice(9);
	  			var i = event.target.parentElement.id;
	  			//console.log('i:', i, 'n:', n);
	  			displayResults(i, n);
	  		} else {
	  			let name = i.slice(5);
	  			if (name.includes("suggestion")) { //if single deck is selected directly from search
	  				let index = 0;
	  				for (const c of name) {
	  					index++;
	  					if (c === ' ') {
	  						break;
	  					}
	  				}
	  				name = name.slice(index);
	  			}
	  			let dimensions = setDimensions(true);
	  			createResult("deck", dimensions[0], dimensions[1], name);
	  		}
	  	}
  	}

  	//handle if user clicks search all or presses enter when there are search results
  	function displaySearchAll(children) {
  		for (var i = 0; i < children.length; i++) {
			let child = children[i];
			if (child.id === "producer_name_wrapper" && child.nextSibling.id === "producer_suggestion_1") { //get info of first producer
				console.log("name here:", child.nextSibling.innerText); 
				let t = child.nextSibling.innerText;
				if (t.charAt(0) === "\n") { //for safari
					for (var j = 1; j < t.length; j++) {
						if (t.charCodeAt(j) === 10 && t.charCodeAt(j+1) === 10) {
							break;
						}
					}
					t = t.slice(1, j);
				} else {
					for (var j = 0; j < t.length; j++) {
						if (t.charAt(j) === "\n") {
							break;
						}
					}
					t = t.slice(0, j);
				}
				displayResults("producer_suggestion_1", t);
			} 
			if (child.id === "producer_name_wrapper" && child.nextSibling.id !== "producer_suggestion_1") { //if found decks but no producers
				let t = children[1].innerText;
				if (browser === "safari") {
					let new_t = "";
					for (var j = 1; j < t.length; j++) {
						if (t.charCodeAt(j) === 10) {
							continue;
						}
						new_t+=t.charAt(j);
					}
					t = new_t;
				}
				displayResults("deck_suggestion_1", t);
			}
		}
  	}

  	function pressEnterHandler(event) {
  		let enter = 13;
  		let dropdown = document.getElementById("dropdown_wrapper");
  		if (event.keyCode === enter && dropdown) {
  			let children = dropdown.childNodes;
  			displaySearchAll(children);
  		}
  	}

  	//handles suggestion div click
  	function clickDivSuggestion(event) {
  		//handle search all
  		console.log(event.composedPath());
  		if (event.target.id === "search_all_wrapper" || event.target.parentElement.id === "search_all_wrapper") {
  			if (event.composedPath()[0].nodeName === "H5") {
  				var children = event.composedPath()[2].childNodes;
  			} else {
  				var children = event.composedPath()[1].childNodes;	
  			}
  			displaySearchAll(children);
  			return;
  		}
  		let id = undefined, text = undefined;
  		let elem = document.getElementById(event.composedPath()[1].id);
  		//if click is on text node
  		if (elem === null) {
  			elem = document.getElementById(event.composedPath()[2].id);
  			id = elem.id;
  			text = elem.firstChild.nextSibling.firstChild.textContent;
  			displayResults(id, text);
  		} else {
  			elem = elem.id;
  			let div_id = event.composedPath()[0].id;
  			if (elem === "dropdown_wrapper") {
  				elem = document.getElementById(div_id);
  				id = elem.id;
  				text = elem.firstChild.nextSibling.firstChild.textContent;
  				displayResults(id, text);
  			} else {
  				elem = document.getElementById(elem);
  				id = elem.id;
  				text = elem.firstChild.nextSibling.firstChild.textContent;
  				displayResults(id, text);
  			}
  		}
  	}

  	// deck and producer suggestions
  	function createSuggestionDiv(dropdown, which_suggestion) {
  		let suggestion = document.createElement("div");
		suggestion.setAttribute("id", which_suggestion);
		//suggestion.setAttribute("onclick", "testButton()");
		suggestion.style.position = "relative";
		suggestion.style.width = "100%";
		suggestion.style.minHeight = responsiveDesign(width)["suggestionDiv"];
		if (which_suggestion.substr(-1) === '1') {
			suggestion.style.borderTop = ".1px solid lightgray";
		} 
		suggestion.style.borderBottom = ".1px solid lightgray";
		suggestion.style.display = "flex";
		suggestion.style.flexDirection = "row";
		suggestion.style.justifyContent = "left";
		suggestion.style.alignItems = "center";
		suggestion.style.paddingLeft = "10px";//these four lines are to allow box shadow to extend full width of suggestion divs
		suggestion.style.paddingRight = "10px";//overflow:auto is used w/dropdown to clip edges
		suggestion.style.marginLeft = "-10px";
		suggestion.style.marginRight = "-10px";
		suggestion.style.cursor = "pointer";
		dropdown.appendChild(suggestion);
		document.getElementById(which_suggestion).className = "suggestion_box";
		id_dict[which_suggestion] = false;
  	}

  	//wrapper for full name of decks or producers
  	function createFullNameWrapper(parent, name) {
  		let fullNameWrapper = document.createElement("div");
		fullNameWrapper.style.position = "relative";
		fullNameWrapper.style.width = "60%";
		fullNameWrapper.style.display = "flex";
		fullNameWrapper.style.justifyContent = "left";
		fullNameWrapper.style.alignItems = "center";
		fullNameWrapper.style.left = "5%";
		fullName = document.createElement("h5");
		text = document.createTextNode(name)//this will be queried from the database
		fullName.appendChild(text);
		fullName.style.position = "relative";
	    fullName.style.fontFamily = "Verdana, copperplate, Impact, sans-serif";
		fullName.style.fontWeight = "bold";
		fullName.style.fontSize = responsiveDesign(width)["fullNameWrapper"][0];
		fullName.style.marginBottom = responsiveDesign(width)["fullNameWrapper"][1];
		fullName.style.color = "black";
		fullNameWrapper.appendChild(fullName);
		parentSubString = parent.slice(0, -1);
		if (parentSubString === "producer_suggestion_") {
			//fullName.style.marginBottom = "10%";
			let numItems = document.createElement("h4");
			if (getNumItems()[name] === 1) {
				var itemString = " item";
			} else {
				var itemString = " items";
			}
			text = document.createTextNode(getNumItems()[name].toString() + itemString);//this will be queried from the database
			numItems.appendChild(text);
			numItems.style.position = "absolute";
		    numItems.style.fontFamily = "Verdana, copperplate, Impact, sans-serif";
			numItems.style.fontWeight = "bold";
			numItems.style.color = "gray";
			numItems.style.fontSize = responsiveDesign(width)["numItems"][0];
			numItems.style.marginTop = responsiveDesign(width)["numItems"][1];
			numItems.style.left = "1px";
			// if (width < 483) {
			// 	numItems.style.bottom = "30%";
			// }
			fullNameWrapper.appendChild(numItems);
		}
		var parent = document.getElementById(parent);
		parent.appendChild(fullNameWrapper);
		parent.addEventListener("click", clickDivSuggestion);
  	}


  	//image for results
  	function createResultImage(parent, img) {
  		let image = document.createElement("img");
  		image.src = img;
  		image.style.position = "relative";
  		image.style.width = "100%";
  		image.style.height = "100%";
  		if (parent === "producer Best Cardist Alive") { //shoudnt do this, but couldn't find many suitable images.
  			image.style.height = "70%";
  		}
  		image.style.borderRadius = "5%";
  		image.style.bottom = "3%";
  		document.getElementById(parent).appendChild(image);
  	}

  	//image on left of suggestion div
  	function createIconImage(parent, img) {
   		let image = document.createElement("img");
		image.src = img;
		image.style.position = "relative";
		image.style.width = responsiveDesign(width)["iconImage"];
		image.style.left = "2%";
		image.style.borderRadius = "2px";
		document.getElementById(parent).appendChild(image);
  	}

  	//image on far right of suggestion div
  	function createSelectionImage(parent) {
  		let selectionImage = document.createElement("img");
		selectionImage.src = "{% static 'spade.png' %}";
		selectionImage.style.position = "relative";
		selectionImage.style.maxHeight = "15px";
		selectionImage.style.width = responsiveDesign(width)["selectionImage"][0];
		selectionImage.style.left = responsiveDesign(width)["selectionImage"][1];
		selectionImage.style.borderRadius = "5px";
		document.getElementById(parent).appendChild(selectionImage);
  	}

  	function createDropdown(parent, current_decks_returned, current_producers_returned) {
		//dropdown wrapper
		width = window.innerWidth;
		var dropdown = document.createElement("div");
  		dropdown.setAttribute("id", "dropdown_wrapper");
		dropdown.style.position = "absolute";
		//dropdown.style.width = "30%";
		dropdown.style.minWidth = responsiveDesign(width)["dropdownWidth"];
		dropdown.style.backgroundColor = "white";
		dropdown.style.borderRadius = "5px";
		dropdown.style.boxShadow = "0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05)";
		dropdown.style.top = "100%";
		dropdown.style.display = "flex";
		dropdown.style.flexDirection = "column";
		//dropdown.style.overflow = "auto";
		dropdown.style.zIndex = 1;
		dropdown.style.overflowY = "hidden";
		dropdown.style.overflowX = "hidden";
		parent.appendChild(dropdown);
		if (current_decks_returned.length === 0 && current_producers_returned.length === 0) {
			dropdown.style.height = "30px";
			let noItems = document.createElement("h5");
			text = document.createTextNode("No items found");
			noItems.appendChild(text);
			noItems.style.position = "relative";
			noItems.style.fontFamily = "Verdana, copperplate, Impact, sans-serif";
			noItems.style.fontSize = "8px";
			noItems.style.color = "lightgray";
			noItems.style.left = "2%";
			noItems.style.top = "-3px";
			dropdown.appendChild(noItems);
			return;
		}
		//deck name wrapper div
		deckNameWrapper = document.createElement("div");
		deckNameWrapper.setAttribute("id", "deck_name_wrapper");
		deckNameWrapper.style.position = "relative";
		deckNameWrapper.style.top = "2%";
		deckNameWrapper.style.width = "100%";
		deckNameWrapper.style.height = "18%";
		//suggestions by deck name
		deckName = document.createElement("h5");
		deckName.setAttribute("id", "deck_name");
		text = document.createTextNode("DECKS");
		deckName.appendChild(text);
		deckName.style.position = "relative";
		deckName.style.top = "-2px"; //keep away from very top so that div doesn't disrupt border radius
		deckName.style.left = "2%";
		deckName.style.width = "98%";
		deckName.style.height = "12%";
		deckName.style.fontFamily = "Geneva, copperplate, Impact, sans-serif";
		deckName.style.fontWeight = "bold";
		var suggestionDivText = responsiveDesign(width)["suggestionDivText"];
		deckName.style.fontSize = suggestionDivText;
		deckName.style.color = "gray";
		//producer name wrapper div
		producerNameWrapper = document.createElement("div");
		producerNameWrapper.setAttribute("id", "producer_name_wrapper");
		producerNameWrapper.style.position = "relative";
		producerNameWrapper.style.width = "100%";
		producerNameWrapper.style.height = "18%";
		//suggestions by producer name
		producerName = document.createElement("h5");
		producerName.setAttribute("id", "producer_name");
		text = document.createTextNode("PRODUCERS");
		producerName.appendChild(text);
		producerName.style.position = "relative";
		producerName.style.left = "2%";
		producerName.style.fontFamily = "Geneva, copperplate, Impact, sans-serif";
		producerName.style.fontWeight = "bold";
		producerName.style.fontSize = suggestionDivText;
		producerName.style.color = "gray";
		//search all wrapper div
		searchAllWrapper = document.createElement("div");
		searchAllWrapper.setAttribute("id", "search_all_wrapper");
		searchAllWrapper.style.position = "relative";
		searchAllWrapper.style.width = "100%";
		searchAllWrapper.style.height = "17%";
		searchAllWrapper.style.paddingLeft = "10px";//these four lines are to allow box shadow to extend full width of suggestion divs
		searchAllWrapper.style.paddingRight = "10px";
		searchAllWrapper.style.marginLeft = "-10px";
		searchAllWrapper.style.marginRight = "-10px";
		searchAllWrapper.style.paddingBottom = "10px";
		searchAllWrapper.style.marginBottom = "-10px";
		searchAllWrapper.style.cursor = "pointer";
		//press enter to search all
		searchAll = document.createElement("h5");
		//searchAll.setAttribute("id", "search_all");
		text = document.createTextNode("Press Enter to search items");
		searchAll.appendChild(text);
		searchAll.style.position = "relative";
		searchAll.style.left = "2%";
		searchAll.style.fontSize = suggestionDivText;
		searchAll.style.color = "gray";
		searchAll.style.fontFamily = "Geneva, copperplate, Impact, sans-serif";
		return([dropdown, deckNameWrapper, producerNameWrapper, deckName, producerName]);
  	}

  	//handle keyboard events while user is typing. Display x icon/ dropdown menu
  	function displaySearchElements(event) {
  		var numDecksChanged = false, numProducersChanged = false;
  		//dont display x if any of these keys are hit
  		const omit_keys = ["Tab", "CapsLock", "Shift", "Control", "Backspace", "ArrowLeft", "ArrowDown", "ArrowRight", "ArrowUp", "Meta", "Enter", "Alt", "Escape"];
  		//toggle currentDecksReturned as characters are removed
  		if (event.key === "Backspace") {
  			var inputString = searchBox.value.substring(0, searchBox.value.length - 1);
  		} else {
  			var inputString = searchBox.value + event.key;
  		}
  		if (event.key === "Enter") {
  			return;
  		}
  		inputString = inputString.toLowerCase();
  		var currentDecksReturned = [], currentProducersReturned = [];
  		{% for deck in deck_list %}  //use django to pull from database
  			var d = "{{ deck }}", p = "{{ deck.producer }}";
  			if (inputString.length > 0 && (d.toLowerCase().startsWith(inputString))) { //check if prefix exists
				currentDecksReturned.push(d);
			}
			if (inputString.length > 0 && (p.toLowerCase().startsWith(inputString)) && !currentProducersReturned.includes(p)) {
				currentProducersReturned.push(p);

			}
		{% endfor %}
		// console.log("currentDecksReturned list:", currentDecksReturned);
		// console.log("currentProducersReturned list:", currentProducersReturned);
  		if (!omit_keys.includes(event.key)) {
  			xIcon.style.opacity = '1';
  			xIcon.style.cursor = "pointer";
  		}
  		if (currentDecksReturned.length !== previousNumDecksReturned) { //monitor changes in number of results
			//console.log("currentDecksReturned length has changed");
			previousNumDecksReturned = currentDecksReturned.length;
			numDecksChanged = true;
		} 
		if (currentProducersReturned.length !== previousNumProducersReturned) {
			previousNumProducersReturned = currentProducersReturned.length;
			numProducersChanged = true;
		}
  		var dropdown = document.getElementById("dropdown_wrapper");
  		if (((currentDecksReturned.length === 0 && currentProducersReturned.length === 0) || inputString.length === 0 || numDecksChanged || numProducersChanged) && dropdown) { 
  			dropdown.remove();
  		}
  		dropdown = document.getElementById("dropdown_wrapper"); //update status of dropdown
  		if (!dropdown && ((currentDecksReturned.length > 0 || currentProducersReturned.length > 0) || (currentDecksReturned.length === 0 && currentProducersReturned.length === 0 && inputString.length !== 0))) { //if it's not there and there are decks or producers returned or it's not there and there aren't any results, but form isn't empty
  			dropdown = document.createElement("div");
  			dropdown.setAttribute("id", "dropdown_wrapper");
  			dropdownLayout(searchElement, currentDecksReturned, currentProducersReturned);
  		} 
  		if (inputString !== "") {
  			xIcon.style.opacity = '1';
  			xIcon.style.cursor = "pointer";
  		} else {
  			xIcon.style.opacity = '0';
    		xIcon.style.cursor = "text";
	    }
  	}

  	var searchBox = document.getElementById("form");
	var xIcon = document.getElementById("x_icon");
	var searchElement = document.getElementById("search");
	var previousNumDecksReturned = 0, previousNumProducersReturned = 0;
	var id_dict = {};
	var collectionTab = document.getElementById("collection");
	var tricksTab = document.getElementById("tricks");
	var logo = document.getElementById("logo_wrapper");
	var videos = ["{% static 'magicOne.mov' %}", "{% static 'magicTwo.mov' %}", "{% static 'magicThree.mov' %}", "{% static 'magicFour.mov' %}", "{% static 'magicFive.mov' %}", "{% static 'magicSix.mov' %}"];
	var carouselIndex;
	var creatingElements = false; //used to ensure user cant click on a result while they are still being created/displayed on screen
	searchElement.addEventListener("click", addRemoveSearchBorder);
	document.body.addEventListener("click", addRemoveSearchBorder); 
	document.addEventListener("mousemove", highlightSuggestion);
	searchBox.addEventListener("keydown", displaySearchElements);
	xIcon.addEventListener("click", clearForm);
	//make producers title appear if clicked to start
	collectionTab.addEventListener("click", displayProducerCollection);
	collectionTab.addEventListener("click", clearForm);
	tricksTab.addEventListener("click", displayTrickReel);
	tricksTab.addEventListener("click", clearForm);
	document.addEventListener("keypress", pressEnterHandler);
	logo.addEventListener("click", () => {
  		location.reload();
	});
	var browser = detectBrowser();
	var width = window.innerWidth;
	window.addEventListener("resize", () => {
		width = window.innerWidth;
		var dropdown = document.getElementById("dropdown_wrapper");
		if (dropdown) {
			dropdown.remove();
		}
	});
	
   
</script>

</body>

</html>




